  <footer>
    <div class="footer">
      <h3>جميع الحقوق محفوظه @ 2022</h3>
      <div class="footer-icon">
        <a href="https://wa.me/966544934745"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="mailto:fadi5745@hotmail.com"><i class="fa-solid fa-envelope"></i></a>
        <a href="tel:0544934745"><i class="fa-solid fa-phone"></i></a>
      </div>
    </div>
  </footer>
        <script src="/js/app.js"></script>
        <script src="app.js" type="text/javascript"></script>
      </body>
    </html>
