<%- include("partials/other-header") -%>

<div class="form-container">
  <div class="forms">

      <div class="row">
        <div id="form-fill" class="col-lg-8">
          <form class="contact-form">
            <h2>ابقى على تواصل</h2>
            <div class="row">
              <div class="col-lg-6">
                <label for="name">الأسم الكامل</label>
                <input type="text" id="name" placeholder="full name"><br>
              </div>
              <div class="col-lg-6">
                <label for="email">البريد الإلكتروني</label>
                <input type="email" id="email" placeholder="email"><br>
              </div>
            </div>
            <label for="subject">سبب التواصل</label>
            <input type="test" id="subject" placeholder="subject"><br>
            <label for="message">الرساله</label>
            <textarea id="message" placeholder="message" rows="5" cols="80"></textarea>
            <!-- <input type="submit" class="submit" value="إرسال"> -->
            <div class="for-more-btn">
              <a><button type="submit" class="submit sub-btn btn btn-success btn-lg">إرسال</button></a>
            </div>

          </form>

        </div>
        <div id="form-info" class="col-lg-4">
          <h1>لنبقى على تواصل</h1>
          <p>منفتحون لأي إقتراح، أو لمجرد الدردشه</p>
            <div id="formIcons" class="row">
              <div class="col-lg-10">
                <p><span>العنوان: </span> 3204 طريق الامير متعب بن عبدالعزيز، 3204, As Safa District, 7375, جدة 23454</p>
              </div>
              <div class="col-lg-2">
                <span class="fa fa-map-marker"> </span>
              </div>
            </div>

            <div id="formIcons" class="row">
              <div class="col-lg-10">
                <p><span>الجوال:  </span> 050xxxxxxxx</p>
              </div>
              <div class="col-lg-2">
                <span class="fa-solid fa-phone"></span>
              </div>
            </div>

            <div id="formIcons" class="row">
              <div class="col-lg-10">
                <p><span>البريد الإلكتروني</span> example@gmail.com </p>
              </div>
              <div class="col-lg-2">
                <span class="fa-solid fa-paper-plane"> </span>
              </div>
            </div>
        </div>
      </div>
      </div>

<script src="js/contact_app.js">

</script>
</div>
<%- include("partials/other-footer") -%>
