<%- include("partials/other-header") -%>

<div class="row">
<div class="col-lg-3">
  <div id="ap1" class="apart">
    <div class="handle">
    <div class="card-text">
      <h4>شقه سكنيه</h4>
      <p>شقه سكنيه تقع بحي العزيزيه تتميز بذوق رفيع و تصاميم عالية الجوده</p>

      <ul dir="rtl">
        <li>المساحه : 200 متر مربع</li>
        <li>المنطقه لعزيزيه</li>
        <li> الدور 2 </li>
        <li>السعر 850,000</li>
      </ul>
      <div class="for-more-btn">
        <a href="/apartment"><button type="button" class="btn btn-success btn-lg">تفاصيل</button></a>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div id="ap2" class="apart">
    <div class="handle">
    <div class="card-text">
      <h4>شقه سكنيه</h4>
      <p>شقه سكنيه تقع بحي العزيزيه تتميز بذوق رفيع و تصاميم عالية الجوده</p>

      <ul dir="rtl">
        <li>المساحه : 200 متر مربع</li>
        <li>المنطقه لعزيزيه</li>
        <li> الدور 2 </li>
        <li>السعر 850,000</li>
      </ul>
      <div class="for-more-btn">
        <a href="/apartment"><button type="button" class="btn btn-success btn-lg">تفاصيل</button></a>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div id="ap1" class="apart">
    <div class="handle">
    <div class="card-text">
      <h4>شقه سكنيه</h4>
      <p>شقه سكنيه تقع بحي العزيزيه تتميز بذوق رفيع و تصاميم عالية الجوده</p>

      <ul dir="rtl">
        <li>المساحه : 200 متر مربع</li>
        <li>المنطقه لعزيزيه</li>
        <li> الدور 2 </li>
        <li>السعر 850,000</li>
      </ul>
      <div class="for-more-btn">
        <a href="/apartment"><button type="button" class="btn btn-success btn-lg">تفاصيل</button></a>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div id="ap3" class="apart">
    <div class="handle">

    <div class="card-text">
      <h4>شقه سكنيه</h4>
      <p>شقه سكنيه تقع بحي العزيزيه تتميز بذوق رفيع و تصاميم عالية الجوده</p>

      <ul dir="rtl">
        <li>المساحه : 200 متر مربع</li>
        <li>المنطقه لعزيزيه</li>
        <li> الدور 2 </li>
        <li>السعر 850,000</li>
      </ul>
      <div class="for-more-btn">
        <a href="/apartment"><button type="button" class="btn btn-success btn-lg">تفاصيل</button></a>
      </div>
    </div>
    </div>
  </div>
</div>
</div>

<div class="row">
<div class="col-lg-3">
  <div id="ap1" class="apart">
    <div class="handle">
    <div class="card-text">
      <h4>شقه سكنيه</h4>
      <p>شقه سكنيه تقع بحي العزيزيه تتميز بذوق رفيع و تصاميم عالية الجوده</p>

      <ul dir="rtl">
        <li>المساحه : 200 متر مربع</li>
        <li>المنطقه لعزيزيه</li>
        <li> الدور 2 </li>
        <li>السعر 850,000</li>
      </ul>
      <div class="for-more-btn">
        <a href="/apartment"><button type="button" class="btn btn-success btn-lg">تفاصيل</button></a>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div id="ap2" class="apart">
    <div class="handle">
    <div class="card-text">
      <h4>شقه سكنيه</h4>
      <p>شقه سكنيه تقع بحي العزيزيه تتميز بذوق رفيع و تصاميم عالية الجوده</p>

      <ul dir="rtl">
        <li>المساحه : 200 متر مربع</li>
        <li>المنطقه لعزيزيه</li>
        <li> الدور 2 </li>
        <li>السعر 850,000</li>
      </ul>
      <div class="for-more-btn">
        <a href="/apartment"><button type="button" class="btn btn-success btn-lg">تفاصيل</button></a>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div id="ap1" class="apart">
    <div class="handle">
    <div class="card-text">
      <h4>شقه سكنيه</h4>
      <p>شقه سكنيه تقع بحي العزيزيه تتميز بذوق رفيع و تصاميم عالية الجوده</p>

      <ul dir="rtl">
        <li>المساحه : 200 متر مربع</li>
        <li>المنطقه لعزيزيه</li>
        <li> الدور 2 </li>
        <li>السعر 850,000</li>
      </ul>
      <div class="for-more-btn">
        <a href="/apartment"><button type="button" class="btn btn-success btn-lg">تفاصيل</button></a>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div id="ap3" class="apart">
    <div class="handle">

    <div class="card-text">
      <h4>شقه سكنيه</h4>
      <p>شقه سكنيه تقع بحي العزيزيه تتميز بذوق رفيع و تصاميم عالية الجوده</p>

      <ul dir="rtl">
        <li>المساحه : 200 متر مربع</li>
        <li>المنطقه لعزيزيه</li>
        <li> الدور 2 </li>
        <li>السعر 850,000</li>
      </ul>
      <div class="for-more-btn">
        <a href="/apartment"><button type="button" class="btn btn-success btn-lg">تفاصيل</button></a>
      </div>
    </div>
    </div>
  </div>
</div>
</div>

<div class="row">
<div class="col-lg-3">
  <div id="ap1" class="apart">
    <div class="handle">
    <div class="card-text">
      <h4>شقه سكنيه</h4>
      <p>شقه سكنيه تقع بحي العزيزيه تتميز بذوق رفيع و تصاميم عالية الجوده</p>

      <ul dir="rtl">
        <li>المساحه : 200 متر مربع</li>
        <li>المنطقه لعزيزيه</li>
        <li> الدور 2 </li>
        <li>السعر 850,000</li>
      </ul>
      <div class="for-more-btn">
        <a href="/apartment"><button type="button" class="btn btn-success btn-lg">تفاصيل</button></a>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div id="ap2" class="apart">
    <div class="handle">
    <div class="card-text">
      <h4>شقه سكنيه</h4>
      <p>شقه سكنيه تقع بحي العزيزيه تتميز بذوق رفيع و تصاميم عالية الجوده</p>

      <ul dir="rtl">
        <li>المساحه : 200 متر مربع</li>
        <li>المنطقه لعزيزيه</li>
        <li> الدور 2 </li>
        <li>السعر 850,000</li>
      </ul>
      <div class="for-more-btn">
        <a href="/apartment"><button type="button" class="btn btn-success btn-lg">تفاصيل</button></a>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div id="ap1" class="apart">
    <div class="handle">
    <div class="card-text">
      <h4>شقه سكنيه</h4>
      <p>شقه سكنيه تقع بحي العزيزيه تتميز بذوق رفيع و تصاميم عالية الجوده</p>

      <ul dir="rtl">
        <li>المساحه : 200 متر مربع</li>
        <li>المنطقه لعزيزيه</li>
        <li> الدور 2 </li>
        <li>السعر 850,000</li>
      </ul>
      <div class="for-more-btn">
        <a href="/apartment"><button type="button" class="btn btn-success btn-lg">تفاصيل</button></a>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div id="ap3" class="apart">
    <div class="handle">

    <div class="card-text">
      <h4>شقه سكنيه</h4>
      <p>شقه سكنيه تقع بحي العزيزيه تتميز بذوق رفيع و تصاميم عالية الجوده</p>

      <ul dir="rtl">
        <li>المساحه : 200 متر مربع</li>
        <li>المنطقه لعزيزيه</li>
        <li> الدور 2 </li>
        <li>السعر 850,000</li>
      </ul>
      <div class="for-more-btn">
        <a href="/apartment"><button type="button" class="btn btn-success btn-lg">تفاصيل</button></a>
      </div>
    </div>
    </div>
  </div>
</div>
</div>

<%- include("partials/other-footer") -%>
